@import url(https://fonts.googleapis.com/css?family=Heebo:regular,500,700,800,900&display=swap);

@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-fb:before {
  content: "\e900";
}

._icon-insta:before {
  content: "\e901";
}

._icon-Linkedin:before {
  content: "\e902";
}

._icon-Twitter:before {
  content: "\e903";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #21243D;
  line-height: 1;
  font-family: "Heebo";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Heebo";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

svg {
  height: 1em;
  width: 1em;
}

svg path {
  stroke: inherit;
  fill: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 55.5rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  background-color: #fff;
  padding: 20px;
  width: 100%;
  max-width: 900px;
  border-radius: 20px;
}

.lock .popup__content {
  visibility: visible;
}

.popup__text {
  padding: 3.125rem 1.25rem;
}

.popup__subtext {
  font-weight: 400;
  line-height: 1.5;
  /* 24/16*/
  color: #000000;
}

.popup__image {
  max-width: 100%;
}

.body-popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.875rem;
}

.heder-popup__dates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.0625rem;
  margin-bottom: 1.4375rem;
}

.heder-popup__date {
  display: inline-block;
  background: #FF7C7C;
  border-radius: 16px;
  padding: 0.25rem 0.625rem 0.1875rem 0.625rem;
  font-weight: 900;
  color: #FFFFFF;
}

.heder-popup__descr {
  font-weight: 400;
  line-height: 1.45;
}

.heder-popup__picture {
  max-width: 100%;
}

.spollers__text {
  font-weight: 400;
  line-height: 1.5;
  /* 24/16*/
  color: #000000;
}

.spollers {
  display: -ms-grid;
  display: grid;
  gap: 15px;
}

.spollers__title {
  width: 100%;
  cursor: default;
  text-align: left;
  border: 1px solid #eee;
  padding: 0.625rem 0.9375rem;
  border-radius: 0.3125rem;
  position: relative;
  font-weight: 500;
  line-height: 2;
}

._spoller-init .spollers__title {
  cursor: pointer;
  /*
  ._spoller-init & {
  	position: relative;
  	width: 100%;
  	text-align: left;
  	&::before,
  	&::after {
  		content: "";
  		position: absolute;
  		right: 0;
  		top: rem(12);
  		height: rem(1);
  		transition: all 0.3s ease 0s;
  		width: rem(10);
  		background-color: #000;
  	}
  	&::before {
  		transform: rotate(40deg);
  		right: rem(7);
  	}
  	&::after {
  		transform: rotate(-40deg);
  	}
  }
  &._spoller-active {
  	&::before {
  		transform: rotate(-40deg);
  	}
  	&::after {
  		transform: rotate(40deg);
  	}
  }
  */
}

._spoller-init .spollers__title::before,
._spoller-init .spollers__title::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  background-color: #000;
  height: 2px;
  width: 15px;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  -o-transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

._spoller-init .spollers__title::before {
  -webkit-transform: translate(-75%, -50%) rotate(40deg);
      -ms-transform: translate(-75%, -50%) rotate(40deg);
          transform: translate(-75%, -50%) rotate(40deg);
}

._spoller-init .spollers__title::after {
  -webkit-transform: translate(0, -50%) rotate(-40deg);
      -ms-transform: translate(0, -50%) rotate(-40deg);
          transform: translate(0, -50%) rotate(-40deg);
}

._spoller-init .spollers__title._spoller-active::before {
  -webkit-transform: translateX(-75%) rotate(-40deg);
      -ms-transform: translateX(-75%) rotate(-40deg);
          transform: translateX(-75%) rotate(-40deg);
}

._spoller-init .spollers__title._spoller-active::after {
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
}

.spollers__body {
  padding: 1.25rem;
  border-radius: 0.3125rem;
  border: 1px solid #eee;
}

[data-ripple] {
  position: relative;
  overflow: hidden;
}

.ripple {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-animation: button-circle 1.5s ease forwards;
          animation: button-circle 1.5s ease forwards;
}

@-webkit-keyframes button-circle {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  100% {
    -webkit-transform: scale(10);
            transform: scale(10);
    opacity: 0;
  }
}

@keyframes button-circle {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  100% {
    -webkit-transform: scale(10);
            transform: scale(10);
    opacity: 0;
  }
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  font-weight: 700;
}

.subtitle {
  font-weight: 700;
}

.rectangle {
  display: inline-block;
  background: #142850;
  border-radius: 16px;
  padding: 0.25rem 0.625rem 0.1875rem 0.625rem;
  font-weight: 900;
  color: #FFFFFF;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.125rem;
     -moz-column-gap: 1.125rem;
          column-gap: 1.125rem;
}

.item__picture-ibg {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 28.7%;
          flex: 0 0 28.7%;
  padding-bottom: 21%;
}

.item__picture-ibg img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.375rem;
}

.content-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70%;
          flex: 0 0 70%;
}

.content-item__title {
  font-weight: 700;
  margin-bottom: 1.125rem;
}

.content-item__dates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.0625rem;
}

.content-item__desr {
  font-weight: 400;
  color: #8695A4;
}

.content-item__text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  /* 24/16 */
  padding-right: 0.625rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%;
  padding: 1.25rem 0rem;
  z-index: 50;
}

.menu-open .menu__body {
  left: 0;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-column-gap: 4.6875rem;
     -moz-column-gap: 4.6875rem;
          column-gap: 4.6875rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__link {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.45;
  /* 29/20 */
  text-align: right;
  color: #000000;
  text-transform: uppercase;
}

.menu__link:hover {
  text-decoration: underline;
  color: #FF6464;
}

.menu__link:active {
  color: #FF6464;
}

.icon-menu {
  display: none;
}

.footer {
  width: 100%;
  background-color: #fff;
}

.footer__container {
  padding-top: 3.1875rem;
  padding-bottom: 3.1875rem;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.1875rem;
}

.social__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.875rem;
          flex: 0 0 1.875rem;
  font-size: 1.875rem;
  margin-bottom: 1.625rem;
}

.social__text {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5;
  /* 21/14 */
  text-align: center;
}

.page {
  background-color: #fff;
}

.page__about {
  background-color: #EDF7FA;
  margin-bottom: 0.9375rem;
}

.body-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body-home__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 58%;
          flex: 0 0 58%;
}

.body-home__title {
  margin-bottom: 2.5rem;
}

.body-home__text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  /* 24/16 */
}

.body-home__text:not(:last-child) {
  margin-bottom: 2.375rem;
}

.body-home__button {
  display: block;
  font-weight: 500;
  line-height: 1.45;
  /* 29/20 */
  color: #FFFFFF;
  background-color: #FF6464;
  padding: 0.625rem 1.25rem;
  border-radius: 0.125rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.body-home__button:hover {
  background-color: #a13535;
}

.body-home__picture-ibg {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 28%;
          flex: 0 0 28%;
  padding-bottom: 28%;
  position: relative;
}

.body-home__picture-ibg img {
  position: absolute;
  border-radius: 50%;
  -webkit-box-shadow: -16px 22px 4px #EDF7FA;
          box-shadow: -16px 22px 4px #EDF7FA;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-page__container {
  padding: 1.25rem 0rem 2rem 0rem;
}

.about-page__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 1.375rem;
  padding-right: 0.625rem;
  padding-left: 0.625rem;
}

.about-page__name {
  font-weight: 400;
  line-height: 1, 5;
}

.about-page__link {
  font-weight: 400;
  font-size: 16;
  line-height: 1.5;
  /* 24/16 */
  color: #00A8CC;
}

.about-page__link:hover {
  text-decoration: underline;
}

.about-page__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
  margin-bottom: 0.6875rem;
}

.about-page__item {
  background-color: #fff;
  padding: 0.875rem 1.375rem 1.5rem 1.375rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto)[3];
  grid-template-rows: repeat(3, auto);
  row-gap: 0.75rem;
}

.about-page__title {
  font-weight: 700;
  line-height: 1.46;
  /* 38/26 */
}

.about-page__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.375rem;
}

.about-page__date {
  font-weight: 400;
  line-height: 1.44;
  /* 26/18 */
  padding-right: 0.9375rem;
  border-right: 0.0625rem solid #21243D;
}

.about-page__desc {
  font-weight: 400;
  line-height: 1.44;
  /* 26/18 */
  padding-left: 0.9375rem;
}

.about-page__text {
  font-weight: 400;
  line-height: 1.5;
  /* 24/16 */
}

.works-page__container {
  border-color: #E5E5E5;
}

.works-page__header {
  margin-bottom: 1.375rem;
}

.works-page__name {
  font-weight: 400;
  line-height: 1, 5;
}

.works-page__item {
  padding-bottom: 0.9375rem;
  border-bottom: 1px solid #E0E0E0;
}

.blog {
  background-color: #fff;
}

.blog__subtitle {
  font-weight: 500;
  line-height: 1.46;
  /* 44/30 */
  margin-bottom: 1rem;
}

.blog__item {
  border-bottom: 1px solid #E0E0E0;
}

.blog__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.375rem;
}

.blog__date {
  font-weight: 400;
  line-height: 1.45;
  /* 29/20 */
  padding-right: 0.9375rem;
  border-right: 0.0625rem solid #21243D;
}

.blog__desc {
  font-weight: 400;
  line-height: 1.45;
  color: #8695A4;
  padding-left: 0.9375rem;
}

.blog__text {
  font-weight: 400;
  line-height: 1.5;
}

.works {
  background-color: #E5E5E5;
}

.works__item {
  border-bottom: 0.0625rem solid #d8d3d3;
}

@media (min-width: 55.5em) {
  .popup__subtext {
    margin-bottom: 2.875rem;
  }

  .heder-popup__title {
    margin-bottom: 1.875rem;
  }

  .heder-popup__date {
    font-size: 1.125rem;
  }

  .heder-popup__descr {
    font-size: 1.25rem;
  }

  .spollers__text {
    margin-bottom: 2.875rem;
  }

  .spollers__title {
    font-size: 1.875rem;
  }

  .title {
    font-size: 2.75rem;
  }

  .title {
    line-height: 3.75rem;
  }

  .subtitle {
    font-size: 1.625rem;
  }

  .subtitle {
    line-height: 2.375rem;
  }

  .rectangle {
    font-size: 1.125rem;
  }

  .content-item__title {
    font-size: 1.875rem;
  }

  .content-item__title {
    line-height: 2.75rem;
  }

  .content-item__dates {
    -webkit-column-gap: 1.625rem;
       -moz-column-gap: 1.625rem;
            column-gap: 1.625rem;
  }

  .content-item__desr {
    font-size: 1.25rem;
  }

  .content-item__desr {
    line-height: 1.8125rem;
  }

  .page__home {
    margin-bottom: 4.375rem;
  }

  .page__works {
    margin-bottom: 5.4375rem;
  }

  .home__container {
    padding-top: 10rem;
  }

  .body-home__button {
    font-size: 1.25rem;
  }

  .about-page__name {
    font-size: 1.375rem;
  }

  .about-page__title {
    font-size: 1.625rem;
  }

  .about-page__title {
    margin-top: 0.5rem;
  }

  .about-page__date {
    font-size: 1.125rem;
  }

  .about-page__desc {
    font-size: 1.125rem;
  }

  .works-page__name {
    font-size: 1.375rem;
  }

  .works-page__item:not(:first-child) {
    padding-top: 1.875rem;
  }

  .blog__container {
    padding-top: 10rem;
  }

  .blog__container {
    padding-bottom: 5rem;
  }

  .blog__title {
    margin-bottom: 3.4375rem;
  }

  .blog__subtitle {
    font-size: 1.875rem;
  }

  .blog__item {
    padding-bottom: 1.875rem;
  }

  .blog__item:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .blog__date {
    font-size: 1.25rem;
  }

  .blog__desc {
    font-size: 1.25rem;
  }

  .works__container {
    padding-top: 10rem;
  }

  .works__title {
    margin-bottom: 3.4375rem;
  }

  .works__item {
    padding-bottom: 2.9375rem;
  }

  .works__item:not(:first-child) {
    padding-top: 2.6875rem;
  }
}

@media (max-width: 20em) {
  .popup__subtext {
    margin-bottom: 1.4375rem;
  }

  .heder-popup__title {
    margin-bottom: 1.4375rem;
  }

  .heder-popup__date {
    font-size: 1rem;
  }

  .heder-popup__descr {
    font-size: 1.125rem;
  }

  .spollers__text {
    margin-bottom: 1.4375rem;
  }

  .spollers__title {
    font-size: 1.625rem;
  }

  .title {
    font-size: 2rem;
  }

  .title {
    line-height: 2.5rem;
  }

  .subtitle {
    font-size: 1.375rem;
  }

  .subtitle {
    line-height: 1.875rem;
  }

  .rectangle {
    font-size: 1rem;
  }

  .content-item__title {
    font-size: 1.5rem;
  }

  .content-item__title {
    line-height: 1.875rem;
  }

  .content-item__dates {
    -webkit-column-gap: 1.375rem;
       -moz-column-gap: 1.375rem;
            column-gap: 1.375rem;
  }

  .content-item__desr {
    font-size: 1rem;
  }

  .content-item__desr {
    line-height: 1.46875rem;
  }

  .page__home {
    margin-bottom: 3.125rem;
  }

  .page__works {
    margin-bottom: 3.125rem;
  }

  .home__container {
    padding-top: 5rem;
  }

  .body-home__button {
    font-size: 1rem;
  }

  .about-page__name {
    font-size: 1rem;
  }

  .about-page__title {
    font-size: 1rem;
  }

  .about-page__title {
    margin-top: 0.125rem;
  }

  .about-page__date {
    font-size: 0.875rem;
  }

  .about-page__desc {
    font-size: 0.875rem;
  }

  .works-page__name {
    font-size: 1rem;
  }

  .works-page__item:not(:first-child) {
    padding-top: 0.9375rem;
  }

  .blog__container {
    padding-top: 5rem;
  }

  .blog__container {
    padding-bottom: 3.125rem;
  }

  .blog__title {
    margin-bottom: 1.25rem;
  }

  .blog__subtitle {
    font-size: 1.625rem;
  }

  .blog__item {
    padding-bottom: 1.25rem;
  }

  .blog__item:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .blog__date {
    font-size: 1rem;
  }

  .blog__desc {
    font-size: 1rem;
  }

  .works__container {
    padding-top: 5rem;
  }

  .works__title {
    margin-bottom: 1.25rem;
  }

  .works__item {
    padding-bottom: 1.0625rem;
  }

  .works__item:not(:first-child) {
    padding-top: 1.375rem;
  }
}

@media (max-width: 47.99875em) {
  .item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.0625rem;
  }

  .item__picture-ibg {
    width: 46%;
    padding-bottom: 46%;
  }

  .content-item__dates {
    margin-bottom: 1.5rem;
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -60%;
    width: 60%;
    height: 100%;
    overflow: auto;
    background-color: #f7f5f5;
    padding-top: 6.25rem;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.875rem;
  }

  .icon-menu {
    display: inline-block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .body-home {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .body-home__content {
    max-width: 100%;
    margin: 0 auto;
  }

  .body-home__title {
    text-align: center;
    margin-bottom: 1.25rem;
  }

  .body-home__text {
    text-align: center;
    margin-bottom: 1.6875rem;
  }

  .body-home__button {
    margin: 0 auto;
  }

  .body-home__picture-ibg {
    width: 46%;
    padding-bottom: 46%;
    margin: 0rem auto 3.125rem;
  }

  .about-page__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 1.0625rem;
  }

  .item__picture-ibg {
    width: 100%;
    padding-bottom: 70%;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (min-width: 20em) and (max-width: 55.5em) {
@supports (margin-bottom: clamp( 1.4375rem , 0.6276408451rem  +  4.0492957746vw , 2.875rem )) {
    .popup__subtext {
      margin-bottom: clamp( 1.4375rem , 0.6276408451rem  +  4.0492957746vw , 2.875rem );
    }
}

@supports not (margin-bottom: clamp( 1.4375rem , 0.6276408451rem  +  4.0492957746vw , 2.875rem )) {
    .popup__subtext {
      margin-bottom: calc(1.4375rem + 1.4375 * (100vw - 20rem) / 35.5);
    }
}

@supports (margin-bottom: clamp( 1.4375rem , 1.1910211268rem  +  1.2323943662vw , 1.875rem )) {
    .heder-popup__title {
      margin-bottom: clamp( 1.4375rem , 1.1910211268rem  +  1.2323943662vw , 1.875rem );
    }
}

@supports not (margin-bottom: clamp( 1.4375rem , 1.1910211268rem  +  1.2323943662vw , 1.875rem )) {
    .heder-popup__title {
      margin-bottom: calc(1.4375rem + 0.4375 * (100vw - 20rem) / 35.5);
    }
}

@supports (font-size: clamp( 1rem , 0.9295774648rem  +  0.3521126761vw , 1.125rem )) {
    .heder-popup__date {
      font-size: clamp( 1rem , 0.9295774648rem  +  0.3521126761vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9295774648rem  +  0.3521126761vw , 1.125rem )) {
    .heder-popup__date {
      font-size: calc(1rem + 0.125 * (100vw - 20rem) / 35.5);
    }
}

@supports (font-size: clamp( 1.125rem , 1.0545774648rem  +  0.3521126761vw , 1.25rem )) {
    .heder-popup__descr {
      font-size: clamp( 1.125rem , 1.0545774648rem  +  0.3521126761vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 1.0545774648rem  +  0.3521126761vw , 1.25rem )) {
    .heder-popup__descr {
      font-size: calc(1.125rem + 0.125 * (100vw - 20rem) / 35.5);
    }
}

@supports (margin-bottom: clamp( 1.4375rem , 0.6276408451rem  +  4.0492957746vw , 2.875rem )) {
    .spollers__text {
      margin-bottom: clamp( 1.4375rem , 0.6276408451rem  +  4.0492957746vw , 2.875rem );
    }
}

@supports not (margin-bottom: clamp( 1.4375rem , 0.6276408451rem  +  4.0492957746vw , 2.875rem )) {
    .spollers__text {
      margin-bottom: calc(1.4375rem + 1.4375 * (100vw - 20rem) / 35.5);
    }
}

@supports (font-size: clamp( 1.625rem , 1.4841549296rem  +  0.7042253521vw , 1.875rem )) {
    .spollers__title {
      font-size: clamp( 1.625rem , 1.4841549296rem  +  0.7042253521vw , 1.875rem );
    }
}

@supports not (font-size: clamp( 1.625rem , 1.4841549296rem  +  0.7042253521vw , 1.875rem )) {
    .spollers__title {
      font-size: calc(1.625rem + 0.25 * (100vw - 20rem) / 35.5);
    }
}

@supports (font-size: clamp( 2rem , 1.5774647887rem  +  2.1126760563vw , 2.75rem )) {
    .title {
      font-size: clamp( 2rem , 1.5774647887rem  +  2.1126760563vw , 2.75rem );
    }
}

@supports not (font-size: clamp( 2rem , 1.5774647887rem  +  2.1126760563vw , 2.75rem )) {
    .title {
      font-size: calc(2rem + 0.75 * (100vw - 20rem) / 35.5);
    }
}

@supports (line-height: clamp( 2.5rem , 1.7957746479rem  +  3.5211267606vw , 3.75rem )) {
    .title {
      line-height: clamp( 2.5rem , 1.7957746479rem  +  3.5211267606vw , 3.75rem );
    }
}

@supports not (line-height: clamp( 2.5rem , 1.7957746479rem  +  3.5211267606vw , 3.75rem )) {
    .title {
      line-height: calc(2.5rem + 1.25 * (100vw - 20rem) / 35.5);
    }
}

@supports (font-size: clamp( 1.375rem , 1.2341549296rem  +  0.7042253521vw , 1.625rem )) {
    .subtitle {
      font-size: clamp( 1.375rem , 1.2341549296rem  +  0.7042253521vw , 1.625rem );
    }
}

@supports not (font-size: clamp( 1.375rem , 1.2341549296rem  +  0.7042253521vw , 1.625rem )) {
    .subtitle {
      font-size: calc(1.375rem + 0.25 * (100vw - 20rem) / 35.5);
    }
}

@supports (line-height: clamp( 1.875rem , 1.5933098592rem  +  1.4084507042vw , 2.375rem )) {
    .subtitle {
      line-height: clamp( 1.875rem , 1.5933098592rem  +  1.4084507042vw , 2.375rem );
    }
}

@supports not (line-height: clamp( 1.875rem , 1.5933098592rem  +  1.4084507042vw , 2.375rem )) {
    .subtitle {
      line-height: calc(1.875rem + 0.5 * (100vw - 20rem) / 35.5);
    }
}

@supports (font-size: clamp( 1rem , 0.9295774648rem  +  0.3521126761vw , 1.125rem )) {
    .rectangle {
      font-size: clamp( 1rem , 0.9295774648rem  +  0.3521126761vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9295774648rem  +  0.3521126761vw , 1.125rem )) {
    .rectangle {
      font-size: calc(1rem + 0.125 * (100vw - 20rem) / 35.5);
    }
}

@supports (font-size: clamp( 1.5rem , 1.2887323944rem  +  1.0563380282vw , 1.875rem )) {
    .content-item__title {
      font-size: clamp( 1.5rem , 1.2887323944rem  +  1.0563380282vw , 1.875rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 1.2887323944rem  +  1.0563380282vw , 1.875rem )) {
    .content-item__title {
      font-size: calc(1.5rem + 0.375 * (100vw - 20rem) / 35.5);
    }
}

@supports (line-height: clamp( 1.875rem , 1.3820422535rem  +  2.4647887324vw , 2.75rem )) {
    .content-item__title {
      line-height: clamp( 1.875rem , 1.3820422535rem  +  2.4647887324vw , 2.75rem );
    }
}

@supports not (line-height: clamp( 1.875rem , 1.3820422535rem  +  2.4647887324vw , 2.75rem )) {
    .content-item__title {
      line-height: calc(1.875rem + 0.875 * (100vw - 20rem) / 35.5);
    }
}

@supports ((-moz-column-gap: clamp( 1.375rem , 1.2341549296rem  +  0.7042253521vw , 1.625rem )) or (column-gap: clamp( 1.375rem , 1.2341549296rem  +  0.7042253521vw , 1.625rem ))) {
    .content-item__dates {
      -webkit-column-gap: clamp( 1.375rem , 1.2341549296rem  +  0.7042253521vw , 1.625rem );
         -moz-column-gap: clamp( 1.375rem , 1.2341549296rem  +  0.7042253521vw , 1.625rem );
              column-gap: clamp( 1.375rem , 1.2341549296rem  +  0.7042253521vw , 1.625rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.375rem , 1.2341549296rem  +  0.7042253521vw , 1.625rem )) or (column-gap: clamp( 1.375rem , 1.2341549296rem  +  0.7042253521vw , 1.625rem ))) {
    .content-item__dates {
      -webkit-column-gap: calc(1.375rem + 0.25 * (100vw - 20rem) / 35.5);
         -moz-column-gap: calc(1.375rem + 0.25 * (100vw - 20rem) / 35.5);
              column-gap: calc(1.375rem + 0.25 * (100vw - 20rem) / 35.5);
    }
}

@supports (font-size: clamp( 1rem , 0.8591549296rem  +  0.7042253521vw , 1.25rem )) {
    .content-item__desr {
      font-size: clamp( 1rem , 0.8591549296rem  +  0.7042253521vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.8591549296rem  +  0.7042253521vw , 1.25rem )) {
    .content-item__desr {
      font-size: calc(1rem + 0.25 * (100vw - 20rem) / 35.5);
    }
}

@supports (line-height: clamp( 1.46875rem , 1.2750880282rem  +  0.9683098592vw , 1.8125rem )) {
    .content-item__desr {
      line-height: clamp( 1.46875rem , 1.2750880282rem  +  0.9683098592vw , 1.8125rem );
    }
}

@supports not (line-height: clamp( 1.46875rem , 1.2750880282rem  +  0.9683098592vw , 1.8125rem )) {
    .content-item__desr {
      line-height: calc(1.46875rem + 0.34375 * (100vw - 20rem) / 35.5);
    }
}

@supports (margin-bottom: clamp( 3.125rem , 2.4207746479rem  +  3.5211267606vw , 4.375rem )) {
    .page__home {
      margin-bottom: clamp( 3.125rem , 2.4207746479rem  +  3.5211267606vw , 4.375rem );
    }
}

@supports not (margin-bottom: clamp( 3.125rem , 2.4207746479rem  +  3.5211267606vw , 4.375rem )) {
    .page__home {
      margin-bottom: calc(3.125rem + 1.25 * (100vw - 20rem) / 35.5);
    }
}

@supports (margin-bottom: clamp( 3.125rem , 1.8221830986rem  +  6.514084507vw , 5.4375rem )) {
    .page__works {
      margin-bottom: clamp( 3.125rem , 1.8221830986rem  +  6.514084507vw , 5.4375rem );
    }
}

@supports not (margin-bottom: clamp( 3.125rem , 1.8221830986rem  +  6.514084507vw , 5.4375rem )) {
    .page__works {
      margin-bottom: calc(3.125rem + 2.3125 * (100vw - 20rem) / 35.5);
    }
}

@supports (padding-top: clamp( 5rem , 2.1830985915rem  +  14.0845070423vw , 10rem )) {
    .home__container {
      padding-top: clamp( 5rem , 2.1830985915rem  +  14.0845070423vw , 10rem );
    }
}

@supports not (padding-top: clamp( 5rem , 2.1830985915rem  +  14.0845070423vw , 10rem )) {
    .home__container {
      padding-top: calc(5rem + 5 * (100vw - 20rem) / 35.5);
    }
}

@supports (font-size: clamp( 1rem , 0.8591549296rem  +  0.7042253521vw , 1.25rem )) {
    .body-home__button {
      font-size: clamp( 1rem , 0.8591549296rem  +  0.7042253521vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.8591549296rem  +  0.7042253521vw , 1.25rem )) {
    .body-home__button {
      font-size: calc(1rem + 0.25 * (100vw - 20rem) / 35.5);
    }
}

@supports (font-size: clamp( 1rem , 0.7887323944rem  +  1.0563380282vw , 1.375rem )) {
    .about-page__name {
      font-size: clamp( 1rem , 0.7887323944rem  +  1.0563380282vw , 1.375rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.7887323944rem  +  1.0563380282vw , 1.375rem )) {
    .about-page__name {
      font-size: calc(1rem + 0.375 * (100vw - 20rem) / 35.5);
    }
}

@supports (font-size: clamp( 1rem , 0.6478873239rem  +  1.7605633803vw , 1.625rem )) {
    .about-page__title {
      font-size: clamp( 1rem , 0.6478873239rem  +  1.7605633803vw , 1.625rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.6478873239rem  +  1.7605633803vw , 1.625rem )) {
    .about-page__title {
      font-size: calc(1rem + 0.625 * (100vw - 20rem) / 35.5);
    }
}

@supports (margin-top: clamp( 0.125rem , -0.0862676056rem  +  1.0563380282vw , 0.5rem )) {
    .about-page__title {
      margin-top: clamp( 0.125rem , -0.0862676056rem  +  1.0563380282vw , 0.5rem );
    }
}

@supports not (margin-top: clamp( 0.125rem , -0.0862676056rem  +  1.0563380282vw , 0.5rem )) {
    .about-page__title {
      margin-top: calc(0.125rem + 0.375 * (100vw - 20rem) / 35.5);
    }
}

@supports (font-size: clamp( 0.875rem , 0.7341549296rem  +  0.7042253521vw , 1.125rem )) {
    .about-page__date {
      font-size: clamp( 0.875rem , 0.7341549296rem  +  0.7042253521vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.7341549296rem  +  0.7042253521vw , 1.125rem )) {
    .about-page__date {
      font-size: calc(0.875rem + 0.25 * (100vw - 20rem) / 35.5);
    }
}

@supports (font-size: clamp( 0.875rem , 0.7341549296rem  +  0.7042253521vw , 1.125rem )) {
    .about-page__desc {
      font-size: clamp( 0.875rem , 0.7341549296rem  +  0.7042253521vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.7341549296rem  +  0.7042253521vw , 1.125rem )) {
    .about-page__desc {
      font-size: calc(0.875rem + 0.25 * (100vw - 20rem) / 35.5);
    }
}

@supports (font-size: clamp( 1rem , 0.7887323944rem  +  1.0563380282vw , 1.375rem )) {
    .works-page__name {
      font-size: clamp( 1rem , 0.7887323944rem  +  1.0563380282vw , 1.375rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.7887323944rem  +  1.0563380282vw , 1.375rem )) {
    .works-page__name {
      font-size: calc(1rem + 0.375 * (100vw - 20rem) / 35.5);
    }
}

@supports (padding-top: clamp( 0.9375rem , 0.4093309859rem  +  2.6408450704vw , 1.875rem )) {
    .works-page__item:not(:first-child) {
      padding-top: clamp( 0.9375rem , 0.4093309859rem  +  2.6408450704vw , 1.875rem );
    }
}

@supports not (padding-top: clamp( 0.9375rem , 0.4093309859rem  +  2.6408450704vw , 1.875rem )) {
    .works-page__item:not(:first-child) {
      padding-top: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 35.5);
    }
}

@supports (padding-top: clamp( 5rem , 2.1830985915rem  +  14.0845070423vw , 10rem )) {
    .blog__container {
      padding-top: clamp( 5rem , 2.1830985915rem  +  14.0845070423vw , 10rem );
    }
}

@supports not (padding-top: clamp( 5rem , 2.1830985915rem  +  14.0845070423vw , 10rem )) {
    .blog__container {
      padding-top: calc(5rem + 5 * (100vw - 20rem) / 35.5);
    }
}

@supports (padding-bottom: clamp( 3.125rem , 2.0686619718rem  +  5.2816901408vw , 5rem )) {
    .blog__container {
      padding-bottom: clamp( 3.125rem , 2.0686619718rem  +  5.2816901408vw , 5rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , 2.0686619718rem  +  5.2816901408vw , 5rem )) {
    .blog__container {
      padding-bottom: calc(3.125rem + 1.875 * (100vw - 20rem) / 35.5);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.0176056338rem  +  6.161971831vw , 3.4375rem )) {
    .blog__title {
      margin-bottom: clamp( 1.25rem , 0.0176056338rem  +  6.161971831vw , 3.4375rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.0176056338rem  +  6.161971831vw , 3.4375rem )) {
    .blog__title {
      margin-bottom: calc(1.25rem + 2.1875 * (100vw - 20rem) / 35.5);
    }
}

@supports (font-size: clamp( 1.625rem , 1.4841549296rem  +  0.7042253521vw , 1.875rem )) {
    .blog__subtitle {
      font-size: clamp( 1.625rem , 1.4841549296rem  +  0.7042253521vw , 1.875rem );
    }
}

@supports not (font-size: clamp( 1.625rem , 1.4841549296rem  +  0.7042253521vw , 1.875rem )) {
    .blog__subtitle {
      font-size: calc(1.625rem + 0.25 * (100vw - 20rem) / 35.5);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.8978873239rem  +  1.7605633803vw , 1.875rem )) {
    .blog__item {
      padding-bottom: clamp( 1.25rem , 0.8978873239rem  +  1.7605633803vw , 1.875rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.8978873239rem  +  1.7605633803vw , 1.875rem )) {
    .blog__item {
      padding-bottom: calc(1.25rem + 0.625 * (100vw - 20rem) / 35.5);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.8978873239rem  +  1.7605633803vw , 1.875rem )) {
    .blog__item:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.8978873239rem  +  1.7605633803vw , 1.875rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.8978873239rem  +  1.7605633803vw , 1.875rem )) {
    .blog__item:not(:last-child) {
      margin-bottom: calc(1.25rem + 0.625 * (100vw - 20rem) / 35.5);
    }
}

@supports (font-size: clamp( 1rem , 0.8591549296rem  +  0.7042253521vw , 1.25rem )) {
    .blog__date {
      font-size: clamp( 1rem , 0.8591549296rem  +  0.7042253521vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.8591549296rem  +  0.7042253521vw , 1.25rem )) {
    .blog__date {
      font-size: calc(1rem + 0.25 * (100vw - 20rem) / 35.5);
    }
}

@supports (font-size: clamp( 1rem , 0.8591549296rem  +  0.7042253521vw , 1.25rem )) {
    .blog__desc {
      font-size: clamp( 1rem , 0.8591549296rem  +  0.7042253521vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.8591549296rem  +  0.7042253521vw , 1.25rem )) {
    .blog__desc {
      font-size: calc(1rem + 0.25 * (100vw - 20rem) / 35.5);
    }
}

@supports (padding-top: clamp( 5rem , 2.1830985915rem  +  14.0845070423vw , 10rem )) {
    .works__container {
      padding-top: clamp( 5rem , 2.1830985915rem  +  14.0845070423vw , 10rem );
    }
}

@supports not (padding-top: clamp( 5rem , 2.1830985915rem  +  14.0845070423vw , 10rem )) {
    .works__container {
      padding-top: calc(5rem + 5 * (100vw - 20rem) / 35.5);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.0176056338rem  +  6.161971831vw , 3.4375rem )) {
    .works__title {
      margin-bottom: clamp( 1.25rem , 0.0176056338rem  +  6.161971831vw , 3.4375rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.0176056338rem  +  6.161971831vw , 3.4375rem )) {
    .works__title {
      margin-bottom: calc(1.25rem + 2.1875 * (100vw - 20rem) / 35.5);
    }
}

@supports (padding-bottom: clamp( 1.0625rem , 0.0061619718rem  +  5.2816901408vw , 2.9375rem )) {
    .works__item {
      padding-bottom: clamp( 1.0625rem , 0.0061619718rem  +  5.2816901408vw , 2.9375rem );
    }
}

@supports not (padding-bottom: clamp( 1.0625rem , 0.0061619718rem  +  5.2816901408vw , 2.9375rem )) {
    .works__item {
      padding-bottom: calc(1.0625rem + 1.875 * (100vw - 20rem) / 35.5);
    }
}

@supports (padding-top: clamp( 1.375rem , 0.6355633803rem  +  3.6971830986vw , 2.6875rem )) {
    .works__item:not(:first-child) {
      padding-top: clamp( 1.375rem , 0.6355633803rem  +  3.6971830986vw , 2.6875rem );
    }
}

@supports not (padding-top: clamp( 1.375rem , 0.6355633803rem  +  3.6971830986vw , 2.6875rem )) {
    .works__item:not(:first-child) {
      padding-top: calc(1.375rem + 1.3125 * (100vw - 20rem) / 35.5);
    }
}
}